<% if flash[:error] %>
  <% flash[:error].each do |msg| %>
    <li><%=  msg %></li>
  <% end %>
<% end %>

<h1>Sign up for PrinceHub</h1>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit %>
<% end %>